{% extends "portfolio/base.html" %}
{% block content %}
  <div id="intro" >
    <div class="container-fluid center-box">
      <h1 class="main-title-font">Ryan Lam</h1>
      <hr style="width: 60%; background: #fff;">
      <p>Welcome to my portfolio</p>
      <div class="row">
        <div class="col text-center" id="button_container">
          <a href="/about"><button type="button" class="btn btn-front-margin btn-outline-light">About</button></a>
          <a href="/projects"><button type="button" class="btn btn-front-margin btn-outline-light">Project</button></a>
          <a href="/contact"><button type="button" class="btn btn-front-margin btn-outline-light">Contact</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

